// .nextflow.config

process {
    executor = 'local'
}

params {
    outdir = 'Result'
}

profiles {
    docker {
        docker.enabled = true
        process {
            // default container if no label is specified
            container = 'wgs-base:latest'
        }

        // Assign container per label
        withLabel: 'qc' {
            container = 'qc-reads:latest'
        }

        withLabel: 'trim' {
            container = 'wgs-fastp:latest'
        }

        withLabel: 'align' {
            container = 'wgs-align:latest'
        }
    }
}
