profiles {
    healthomics {
        process {
            executor = 'awsbatch'
            queue    = 'healthomics-default'

            // Use ECR image URI instead of Docker Hub
            container = '<aws_account_id>.dkr.ecr.us-east-1.amazonaws.com/wgs-align:latest'

            cpus = 6
            memory = '8 GB'
            time = '12h'
        }

        workDir = "s3://your-healthomics-bucket/work"
        projectDir = "s3://your-healthomics-bucket/project"
        aws.region = 'us-east-1'

        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'

        params {
            sample_id = "SRR062634"
            fastq1    = "s3://your-healthomics-bucket/input/SRR062634_1.fastq"
            fastq2    = "s3://your-healthomics-bucket/input/SRR062634_2.fastq"
            reference = "s3://your-healthomics-bucket/input/chr22.fa"
            outdir    = "s3://your-healthomics-bucket/output"
        }
    }
}
